* {
    font-family: "Lato", sans-serif;
}

/*ANCHOR: THEMES*/
/* For the Light theme*/
.theme-light * {
    --complete-task-border-color: darkgreen;
}
.theme-light body {
    background-color: aliceblue;
}
.theme-light .task {
    background-color: #e4ecec;
}

/* For the Dark theme */
.theme-dark *{
    color: #dddddd;
    --complete-task-border-color: lightgreen;
}
.theme-dark button, .theme-dark select {
    background-color: #111111;
    border-color: #222222;
}
.theme-dark body {
    background-color: #333333;
}
.theme-dark .task {
    background-color: #222222;
}

/*ANCHOR: Sort styles*/
/* For the Default sort-by style */
.default .tasklist {
    clear: left;
}

.default .task {
    border: 4px solid darkred;
    border-radius: 25px;
    clear: left;
    display: block;
    float: left;
    margin: 8px;
    padding: 4px 10px 4px 5px;
}
.default .task::before {
    background-color: darkred;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    width: 14px;
    vertical-align: middle;
}
.default .task span {
    vertical-align: middle;
}

.default .task.completed {
    border-color: var(--complete-task-border-color);
}
.default .task.completed::before {
    background-color: var(--complete-task-border-color);
}

/* For the Show All style */
.show-all .tasklist-name {
    display: none;
}

/* For the Clustered style */
.clustered .task {
    clear: none;
    display: inline;
}