<!DOCTYPE html>
<html>
<head>
  <title>Policies | opticor.digital</title>
</head>
<body>
  <h1>Policies</h1>
  <h3>Privacy Policy</h3>
  <p>Tasklist2.0: This app only can modify your tasks and task lists stored through google.com, and only if you give it permission to do so.
    It cannot read your email, send text messages, or feed your cats.</p>
  <p>The only data this app collects is that of your tasks. No data is permanently stored.</p>
  <br><br>

  <h3>Terms of Service</h3>
  <p>This application is designed to the best of my abilities. Even so, I am a single human, and do tend to make mistakes.</p>
  <p>I am not responsible for data loss caused by use of my applications. Use them at your own discretion.</p>
  <p>This is intended to be a personal project and as such is designed with my own needs in mind.
    That said, if you wish to contact me, you may do so at emmettwb@gmail.com</p>
</body>
</html>
