<!DOCTYPE html>
<html class='theme-light'>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="/styles/tasklist/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <title>Tasklist2.0 by EPiC_Inc</title>
</head>

<body>
  <p>There will be stuff here later</p>
  <p>But for now just this:</p> <br>
  <button id="signin-button">Sign In</button> <br>
  <button id="revoke-access-button">Revoke Access</button> <br>
  <p id='auth-status'></p>
  
  <div id="tasklist-controls">
    <button id="hidden-tasks-button">Show Completed Tasks</button>
    <span style="width: 16px;display: inline-block;"> </span>
    List: <select id="selected-tasklist">
      <option value="*" selected="selected">All</option>
    </select>

    <span style="width: 16px;display: inline-block;"> </span>
    Display: <select id="sort-by">
      <option value="default" selected="selected">Default</option>
      <option value="default show-all">Show All</option>
      <option value="default show-all clustered">Clustered</option>
      <option value="kanban">Kanban</option>
      <option value="planner">Planner</option>
    </select>

    <span style="width: 16px;display: inline-block;"> </span>
    Theme: <select id="theme">
      <option value="theme-light" selected="selected">Light</option>
      <option value="theme-dark">Dark</option>
    </select>
  </div>
  </div>

  <div id="main-tasks-div" class="default"></div>
</body>

<script src="/js/tasklist/tasks.js"></script>

<script>
  // This is for getting the default sort-by method
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
  };
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
  onload="this.onload=function(){};handleClientLoad()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
</html>

<!--
// This is to mark all tasks as undone...
gapi.client.request({
  'path':PATH+"lists/"+tList.id+"/tasks/"+task.id,
  'method': 'PATCH',
  "body": {
    'status':"needsAction"
  }
  }).then(res => {
    console.log(res);
  });
-->